.navbar.navbar-fixed-top {
	background: #1A6B4B;
}

.navbar ul li a{
	color: white;
}

body { 
	padding-top: 50px; 
}

.undernav {
	background-color: #EEE5DE;
}

.bordered {
	border: solid;
}

.dropdown {
	height: 8em;
	padding-top: 2em;
}

.content {
	padding-top: 50px;
}

.dropdown-menu {
	margin-top: 50px;
}