.navbar.navbar-fixed-top {
	background: #1A6B4B;
	background-image: -moz-linear-gradient( 90deg, rgb(25,101,71) 0%, rgb(29,118,83) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(25,101,71) 0%, rgb(29,118,83) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(25,101,71) 0%, rgb(29,118,83) 100%);
}

.contentwidth {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.topnav ul li a { 
	color: white;
}

.greentext li a {
	color: #58c398!important;
}

body { 
	padding-top: 50px;
	background-color: #e4e4d5; 
}

.undernav {
	background-color: #fafaf7;
	height: 160px;
	border-bottom: solid 6px rgb( 184, 186, 164 );
}

.undernav ul {
	text-align: center;
	height: 100%;
	padding-top: 3.5em;
}

.undernav ul li {
	list-style-type: none;
	display: inline-block;
	padding-left: 2em;
	padding-right: 2em;
}

.undernav ul li a{
	padding-top: 2em;
	padding-bottom: 100%;
}

.bordered {
	border: solid;
}

.dropdown {
	height: 11em;
	padding-top: 4em;
}

.copy {
	padding: 50px;
	background-color: white;
}

.dropdown-menu {
	margin-top: 50px;
}

.menudropdown {
	position: absolute;
	display: none;
	background-color: white;
	width: 100%;
	z-index: 999;
}
