.navbar.navbar-fixed-top {
	background: #1A6B4B;
}

.navbar ul li a{
	color: white;
}

body { 
	padding-top: 50px; 
}

.grayBackground {
	background-color: #EEE5DE;
}

.bordered {
	border: solid;
}

.content {
	padding-top: 50px;
}